.hamburger {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  background-color: transparent;
}

.hamburger span {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  right: 0;
  height: 4px;
  background-color: currentColor;
  transition-property: opacity, transform;
  transition-duration: 0.2s;
}

.hamburger span:nth-child(1) {
  transform: translateY(-250%);
}

.hamburger span:nth-child(3) {
  transform: translateY(250%);
}

.hamburger--otevrene span:nth-child(2) {
  opacity: 0;
}

.hamburger--otevrene span:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger--otevrene span:nth-child(3) {
  transform: rotate(-45deg);
}
