.menuDesktop {
  color: #FFEFD2;
  ;
}

.menuDesktop nav {
  padding-right: 10px;
  color: #FFEFD2;
}

.menuDesktop ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.menuDesktop li {
  margin-right: 20px;
}

.menuDesktop a {
  text-decoration: none;
  color: #FFEFD2;
  ;
}

@media (max-width: 992px) {
  .menuDesktop {
    display: none;
  }
}
