.aboutUs {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
}

.aboutUs--ema {
  width: 100%;
  padding: 20px 20px;

}

.aboutUs--justina {
  width: 100%;
  height: 300px;
  padding: 20px 20px;
}

@media (min-width: 992px) {
  .aboutUs {
    display: flex;
    flex-direction: row;
  }

  .aboutUs--ema {
    width: 50%;
    padding: 20px 50px;
  }

  .aboutUs--justina {
    width: 50%;
    padding: 20px 50px;

  }

}
