header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  background-image: url(./img/rocket.svg);
  background-size: contain;
}
h1 {
  color: #BB3C1C;
}

button {
  border-radius: 10px;
}